@using Sample.Models

@model AppUser

@{
    ViewData["Title"] = "Home Page";
    Layout = "_LoginLayout";
    var sender = Model.Id;

    var updated = ViewData["ProfileUpdated"] as string;
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<input type="hidden" value="@sender" id="currentUserId" />


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


@if (!string.IsNullOrEmpty(updated))
{
    <div class="alert alert-success d-flex justify-content-between align-items-center">
        <strong>@updated</strong>
        <button type="button" class="close btn btn-outline-success" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container-fluid h-100 index-body d-flex justify-content-center">
    <div class="row w-100 d">
        <div class="col-3 d-flex align-items-center flex-column justify-content-end justify-content-between" style="border:1px solid black; border-top:none;">



        </div>
        <div class="col-7 messages">
            <div class="row h-25 d-flex pt-4 flex-column text-center username">
                <h1 id="userName"></h1>
                <a id="profileLink"></a>
            </div>
            <div class="row h-75 d-flex justify-content-center align-items-end messageBody">
                <div class="col-8 chat-container" style="border:1px solid gray;">
                </div>
                <div class="row h-10 inputDiv">
                    <form class="d-flex inputField">
                        <input type="text" class="form-control form-control autoresize" id="messageValue" autocomplete="off" />
                        <button class="btn btn-outline-dark buttonSend"><i class="material-icons">send</i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2 d-flex align-items-center flex-column justify-content-end justify-content-between" style="border:1px solid black; border-top:none;">
             
            <h4 class="text-center pt-4 pb-2" id="usersHeader">Users</h4>

            <div class="users" id="usersList">
            </div>

        </div>
    </div>
</div>


<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto"> Rizalyn Message you!</strong>
        <small class="text-muted">11 mins ago</small>
        <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body text-center" >
       Heyyy!!
    </div>
</div>




<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    });
</script>

<style>

    .alert {
        position: fixed;
        top: 10px;
        right: 20px;
        z-index: 1000;
        width: 97%;
    }

    .toast-container {
        position: relative;
        z-index: 1000;
    }

    .toast {
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 1050;
    }

    #profileLink {
        width: 15%;
        align-self: center;
        font-family: 'Nunito', Arial, sans-serif;
    }
    #userName{
        font-family: 'Montserrat', sans-serif;
    }
    .message-content {
        font-family: 'Nunito', Arial, sans-serif;
    }

    #usersList a{
        font-family: 'Montserrat', sans-serif;
    }

    #usersHeader{
        font-family: 'Montserrat', sans-serif;
        border-bottom: 1px solid black;
    }
    #profileLink {
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

        #profileLink:hover {
            text-decoration: none;
            color: gray;
        }

    .inputDiv {
        width: 73%;
    }

    .NoMessageResult {
        align-self: center;
        padding-top: 5%;
    }

    .autoresize:focus {
        box-shadow: none;
    }

    form textarea {
        scrollbar-width: thin;
    }

    .users a {
        text-decoration: none;
        color: black;
        text-align: center;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px 0;
        margin-top: 1%;
    }

        .users a:hover {
            cursor: pointer;
            color: gray;
        }

    .btn-outline-dark {
        color: #212529;
        border-color: gray;
    }

    .users {
        display: flex;
        height: 70vh;
        width: 100%;
        scrollbar-width: thin;
        scrollbar-color: gray white;
        overflow-y: auto;
        flex-direction: column-reverse;
    }

    .chat-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow-y: auto;
        height: 61.5vh;
        scrollbar-width: thin;
    }

    .chat-message {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin-bottom: 10px;
        background: black;
        word-wrap: break-word;
    }

        .chat-message.sent {
            align-self: flex-end;
            background-color: #d1e4e8;
            border-radius: 25px 25px 0 25px;
            padding: 10px 15px;
        }

        .chat-message.received {
            background-color: #f0f8fa;
            border-radius: 25px 25px 25px 0;
            padding: 10px 15px;
        }

        .chat-message.sent .message-time {
            font-size: 12px;
            color: #999;
            margin-top: 5px;
            display: flex;
            justify-content: end;
        }

        .chat-message.received .message-time {
            font-size: 12px;
            color: #999;
            margin-top: 5px;
        }
</style>

<script src="~/js/message.js"></script>