@using Sample.Models

@model AppUser

@{
    ViewData["Title"] = "Home Page";
    Layout = "_LoginLayout";
    var sender = ViewBag.CurrentUserID;
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<input type="hidden" value="@sender" id="currentUserId"/>

  <div class="container-fluid h-100 index-body d-flex justify-content-center">
    <div class="row w-100 d">
        <div class="col-3" style="border:1px solid black;">

        </div>
        <div class="col-7 messages" >
            <div class="row h-25 d-flex pt-4 flex-column text-center username">
                <h1 id="userName"></h1>
            </div>
            <div class="row h-75 d-flex justify-content-center align-items-end messageBody">
                    <div class="col-8 chat-container" style="border:1px solid black;">
                            
               
                    </div>
                    <div class="row h-10 inputDiv">
                        <form class="d-flex inputField">
                            <input type="text" class="form-control form-control autoresize" id="messageValue" autocomplete="off"/>
                            <button class="btn btn-outline-dark buttonSend"><i class="material-icons">send</i></button>
                        </form>
                      </div>
            </div>
        </div>
        <div class="col-2 d-flex align-items-center flex-column justify-content-end justify-content-between"  style="border:1px solid black;">

           <h4 class="text-center pt-2 pb-2 border-bottom">Users</h4>

                <div class="users" id="usersList">

               </div>

        </div>
    </div>
  </div>     

  <style>
    .inputDiv{
        width:73%;
    }
    .NoMessageResult{
       align-self:center;
      padding-top:5%;
       
    }

    .autoresize:focus{
        box-shadow: 0 0 0 0.1rem wheat, 0 0 0 0.25rem black;
    }

    form textarea{
        scrollbar-width : thin;
    }

      .users a{
        text-decoration: none;
        color: black;
        text-align: center;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px 0;
        margin-top: 1%;

      }
      .users a:hover{
        cursor: pointer;
        color: gray;
   
      }

      .users{
        display: flex;
        height: 70vh;
        width:100%;
        scrollbar-width: thin;
        scrollbar-color: gray white;
        overflow-y: auto;
        flex-direction: column-reverse;
      }

    .chat-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow-y:auto;
        height:61.5vh;
        scrollbar-width:thin;
    }

    .chat-container::-webkit-scrollbar{
        display:none;
    }
    .chat-message {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin-bottom: 10px;
        background:black;
    }

        .chat-message.sent {
            align-self: flex-end;
            background-color: #e6f1f2;
            border-radius: 20px 20px 0 20px;
            padding: 10px 15px;
        }

        .chat-message.received {
            background-color: #f7f7f7;
            border-radius: 20px 20px 20px 0;
            padding: 10px 15px;

        }

    .chat-message.sent .message-time{
        font-size: 12px;
        color: #999;
        margin-top: 5px;
        display:flex;
        justify-content:end;
    }
    .chat-message.received .message-time{
        font-size: 12px;
        color: #999;
        margin-top: 5px;
 
    }
  </style>

<script src="~/js/message.js"></script>
<script>
    // $(document).ready(function () {
    
    //     let receiverId;
    //           GetAllUsers();
    //     setInterval(function () {
    //         GetMessages(receiverId);
 
    //     }, 1000);

    //     $(".buttonSend").on("click", function () {  
    //         SendMessage(receiverId);
    //         GetMessages(receiverId);
    //         $("#messageValue").val("");
    //     });

    //     function GetAllUsers() {
    //         $.ajax({
    //             type: 'GET',
    //             url: "/Account/GetAllUsers",
    //             dataType: "json",
    //             success: function (result) {
    //                 if (result.length > 0) {
    //                     for (let i = 0; i < result.length; i++) {

    //                         let users = result[i];
 
    //                         let userLink = $("<a>", {
    //                             href: "#",
    //                             text: users.name,
    //                             class: "user-link" ,
    //                             click: function () {
    //                                 GetMessages(users.id);
    //                                 receiverId = users.id;
    //                                 $("#userName").text(users.name);
    //                             }
    //                         });

                            

    //                         $("#usersList").append(userLink);
                     
    //                     }
    //                 } 
    //                 else {
                       
    //                 }
    //             },
    //             error: function (req, status, error) {
    //                 console.log(status);
    //             }
    //         });
    //     }


    //     function GetMessages(userid) {
    //         $.ajax({
    //             type: 'GET',
    //             url: "/Account/GetMessages?id=" + userid,
    //             dataType: "json",
    //             success: function (result) {
    //                 var chatContainer = $('.chat-container');

    //                 if (result.length > 0) {
    //                     chatContainer.empty();
    //                     $.each(result, function (index, msg) {
    //                         var messageClass = msg.senderId === '' ? 'sent' : 'received';

    //                         var dateObj = new Date(msg.date);
    //                         var today = new Date();
    //                         var yesterday = new Date(today.getTime() - (24 * 60 * 60 * 1000));

    //                         let messageTime;
    //                         if (dateObj.toDateString() === today.toDateString()) {
    //                             messageTime = dateObj.toLocaleString('en-US', {
    //                                 hour: 'numeric',
    //                                 minute: 'numeric',
    //                                 second: 'numeric',
    //                                 hour12: true
    //                             });
    //                         } else if (dateObj.toDateString() === yesterday.toDateString()) {
    //                             messageTime = 'Yesterday ' + dateObj.toLocaleString('en-US', {
    //                                 hour: 'numeric',
    //                                 minute: 'numeric',
    //                                 second: 'numeric',
    //                                 hour12: true
    //                             });
    //                         } else {
    //                             messageTime = dateObj.toLocaleString('en-US', {
    //                                 year: 'numeric',
    //                                 month: 'short',
    //                                 day: 'numeric',
    //                                 hour: 'numeric',
    //                                 minute: 'numeric',
    //                                 second: 'numeric',
    //                                 hour12: true
    //                             });
    //                         }

    //                         var messageHtml = `
    //                         <div class="chat-message ${messageClass}">
    //                             <div class="message-content">${msg.text}</div>
    //                             <div class="message-time">${messageTime}</div>
    //                         </div>
    //                     `;
    //                         chatContainer.append(messageHtml);
    //                     });
    //                     scrollChatContainer();
    //                 } else {
    //                     chatContainer.empty();
    //                     var message = `<div class="NoMessageResult">
    //                                 <h3>No Messages for this Person</h3>
    //                               </div>`;
    //                     chatContainer.append(message);
    //                 }
    //             },
    //             error: function (req, status, error) {
    //                 console.log(status);
    //             }
    //         });
    //     }

    //     function SendMessage(userid) {

    //         var messageValue = $("#messageValue").val();
      
    //         $.ajax({
    //             type: 'GET',
    //             url: "/Account/SendMessage",
    //             data: {
    //                 receiverId: receiverId,
    //                 message: messageValue
    //             },
    //             dataType: "json",
    //             success: function (result) {
               
    //             },
    //             error: function (req, status, error) {
    //                 console.log(status);
    //             }
    //         });
    //     }

    //     function scrollChatContainer() {
    //         var chatContainer = $('.chat-container');
    //         if (chatContainer.is(':visible')) {
    //             chatContainer.scrollTop(chatContainer[0].scrollHeight);
    //         }
    //     }

    // });
</script>